<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Chatting App</a>


        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <ng-container *ngIf="_accountService.currentUser$|async">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/members" routerLinkActive="active">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
                </li>
                <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
                    <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
                </li>

            </ng-container>


        </ul>
        <div class="dropdown" *ngIf="(_accountService.currentUser$|async) as user" dropdown>
            <img src="{{user.photoUrl || './assets/user.jpg'}}" alt="{{user.username}}" />
            <a class="dropdown-toggle text-light " dropdownToggle
                style="text-decoration: none; margin-left: 7px;">{{"Welcome"}}<span
                    style="margin-left: 5px;">{{user.knownAs || user.username| titlecase}}</span></a>
            <div class="dropdown-menu mt-3" *dropdownMenu>

                <a class="dropdown-item" routerLink="/member/edit">{{"Edit Profile"}}</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" (click)="logOut()">{{"Log out"}}</a>

            </div>

        </div>

        <form class="d-flex" *ngIf="(_accountService.currentUser$|async) === null" #loginForm="ngForm"
            (ngSubmit)="login()" autocomplete="off">
            <input class="form-control me-2" type="text" placeholder="Username" name="UserNameField"
                [(ngModel)]="model.userName">
            <input class="form-control me-2" type="password" placeholder="Password" name="passwordfield"
                [(ngModel)]="model.password">
            <button class="btn btn-outline-success" type="submit">Login</button>
        </form>

    </div>
</nav>